* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

body {
  margin: 0;
}

.add-reaction-emoji {
  fill: rgb(88, 96, 105);
  stroke: rgb(88, 96, 105);
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.add-reaction-emoji:hover {
  fill: #0366d6;
  stroke: #0366d6;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  overflow: scroll;
}

pre code {
  background: none;
  padding: 0;
}

code {
  font-size: 0.8em;
}

.layout {
  box-sizing: border-box;
  max-width: 704px;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-rows: auto 1fr;
  overflow-wrap: break-word;
}

blockquote {
  font-style: italic;
  box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.27);
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-left: 1em;
}

li p {
  margin: 0;
}

li {
  font-size: 1.1em;
  line-height: 1.6;
}

table {
  min-width: 100%;
}

td > div {
  display: block !important;
}

@media (max-width: 600px) {
  .app-header-last-name {
    display: none;
  }
}

hr {
  border: 1px solid #e6e6e6;
}

.footnote-container {
  margin: 10px;
}

.footnote-container p { 
  margin: 0;
  font-size: 0.9em;
  margin-bottom: 10px;
}